html, body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: #e3e3e3;
  color: #656565;
}

.holiday {
  margin-top: 50px;
  margin-bottom: 30px;
}

.hours {
  color: black;
  font-weight: bold;
  margin-top: 10px;
}

.brakedown {
  .hours {
    font-size: 30px;
  }
  .title {
    font-size: 25px;
  }
}

.giphy {
  margin-top: 70px;
  margin-bottom: 50px;
}

.footer {
  padding-top: 5px;
  border-top: 1px solid #d3d3d3;
}

.row .col.info-btn {
  padding-top: 15px;
}
