!!!
%html
  %head
    %title
      Kanikułyguru
    %link{:rel => 'stylesheet', :type => 'text/css', :href => '/stylesheets/styles.css'}
  %body
    #container
      %h1
        Kanikułyguru

      #content
        =yield

      #footer
        %p
          netguru.co
