!!!
%html
  %head
    %title
      Kanikułyguru
    = css :application
    %link{ rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css" }
    %link{ rel: "stylesheet", href: "https://fonts.googleapis.com/icon?family=Material+Icons" }

    %script{ src: "http://code.jquery.com/jquery-2.1.4.min.js" }
    %script{ src: "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js" }

  %body
    .container
      = yield

      #footer
        %p
          netguru.co
