!!!
%html
  %head
    %title
      Kanikułyguru
    = css :application
  %body
    #container
      %h1
        Kanikułyguru

      #content
        =yield

      #footer
        %p
          netguru.co
